@import 'reset.css';
@import 'variables.css';

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: system-ui;
}

header {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    text-align: center;
    padding: 1rem 0;

    & img {
        width: 200px;
        clip-path: circle(90px at center);
    }
}

main {
    padding: 1rem;

    & ul {
        list-style: none;
    }

    & a {
        color: #777;
        text-decoration: none;
        display: flex;
        align-items: center;
        height: 2rem;
        border: 1px solid #E9E9E9;
        border-radius: 1rem;
        margin-bottom: 0.75rem;
        font-size: 0.8rem;

        & span {
            width: 2rem;
            height: 100%;
            background-color: #F0F0F0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            margin-right: 0.5rem;
        }
    }

    & svg {
        width: 18px;
        height: 18px;
        fill: #999;
    }
}
