@import 'reset.css';
@import 'variables.css';

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: system-ui;
}

header {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    text-align: center;
    padding: 1rem 0;

    & img {
        width: 200px;
        clip-path: circle(90px at center);
    }
}
