@import 'reset.css';
@import 'variables.css';

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: system-ui;
}

header {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    text-align: center;
    padding: 1rem 0;

    & img {
        width: 200px;
        clip-path: circle(90px at center);
    }
}

main {
    padding: 1rem 0;

    & a {
        color: #777;
        text-decoration: none;
    }

    & svg {
        width: 18px;
        height: 18px;
        fill: #999;
    }
}
